html {
    color: dodgerblue;
    font-family: sans-serif;
}

h1 {
    color: #6a26d6;
    background-color: lightcoral;
    font-family: 'arial';

}

body {
    color: gold;
    background-color: lightyellow;
}

p {
    color: gold;
    font-family: cursive;
}

a {
    color: darkturquoise;
}

h2 {
    font-family: serif;
    font-weight: 900;
}

.cis-260 {
    color: coral;
}

.donovan {
    color: darkslateblue;
    background-color: lightcoral;
}

#special-paragraph {
    color: lightsteelblue;
}
body a {
    color: cornflowerblue;
}